@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al GemeloVirtual</h1>
    <p>Aqui es la aplicación prueba para los hospitales que neceisten un Gemelo Virtual </p>
</div>

<h2>Este proyecto va dirigido a Imagine Cup</h2>
